* {
    box-sizing: border-box;
    background-color: #818e9b;
    font-family: Arial, Helvetica, sans-serif;
  }


header {
    display: flex;
    justify-content: space-between;
    background-color: #0b1b2b;
    color: rgb(194, 204, 204);
  }

  header h1{
    margin-left: .5rem;
    background-color: #0b1b2b;
  }

  header nav{
    background: #0b1b2b;
    justify-content: end;
    }

  header nav ul{
    background: #0b1b2b;
    display: flex;
    flex-wrap: wrap;
    }

  header nav ul li {
    background: #0b1b2b;
    list-style: none;
    padding-right: 2rem;
  }

  main {
    border-style: solid;
    border-color: black;
  }

  .About-Me {
    width: 75%;
    margin-top: 15rem;
    justify-content: start;
    border-style: solid;
    border-bottom-color: black;
  }

  .Work {
    margin-top: 15rem;
    display: flex;  
    flex-wrap: wrap;
    justify-content: center;
    
  }
  .Work div img {
      height: 18rem;
      width: 30rem;    
      margin: 1rem;
  }

  .Contact {
    margin-top: 15rem;    
  }

    .Contact ul {
        justify-content: space-between;
        display: flex;
        flex-wrap: wrap;
        border-top-style: solid;
        border-top-color: black;
        padding-top: 1rem;
  }
      .Contact ul li {
        list-style: none;
        padding-left: 3rem;
        padding-right: 3rem;
      }
  .Resume{

  }